@media(max-width:374px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    html{font-size: 62.5%;
        background-color:var(--blue-font);
        font-family:"DM Sans", "sans-serif";
    }
    :root{
        --blue:#3A27DD;
        --cream:#E6B0AA; 
        --orange:#F8532E;
        --black:#0E0E11;
        --blue-dark:#05268E;
        --blue-font:#041343;
        --crem-light:#FBFB;
        --yellow-light:#FFF3C3;
        --light-blue:#3498DB;
    }
    .div-header--container{
        position: relative;
        display:flex;
        width:100%;
        color: var(--yellow-light);
        justify-content: center;
        align-content: center;
    }
    .div-header--container h1{
        position: relative;
        align-content: center;
        bottom:4px;
        top:2px;
        right:50px;
        font-size:1.8rem;
    
    }
    
    header{
        margin-top:5px;
        padding-top: 1px;
        padding-bottom:2px;
    
    }
    .mega-container{    
        background: linear-gradient(#3498DB, var(--blue-dark));
        padding-bottom: 10px;
        padding-top: 10px;
        min-height:80px;
        max-height: 80px;
        border-radius: 25px;
    
    }
    
    .menu-items a{
        display:inline-flex;
        position:relative;
        justify-items: center;
        align-items: center;
        color:var(--yellow-light);
        text-decoration: none;
        font-size: 0.1rem;
    
     
    }
    .serv-items{
        display:flex;
        position: relative;
        left:15px;
        top:10px;
    }
    .asesoria-items{
        display:flex;
        position: relative;
        left:37px;
        top:10px;
        
    }
    .vent-items{
        display:flex;
        position: relative;
        left:55px;
        top:10px;
    }
    .menu-items a:hover{
        color: var(--cream);
        font-size: 0.5rem;
    }
    .menu-items a:active{
        color:var(--orange);
        font-weight: 400;
    
    }
    
    .menu-container-description{
        display:flex;
        flex-direction:column;
        min-height: 300px;
        max-height: 300px;
        padding-top: 20px;
        padding-bottom:0px;
        margin-top:15px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right:20px;
        color: var(--yellow-light);
        text-align:center;
        background: linear-gradient(#3498DB, var(--blue-dark));
        font-size:0.1rem;
        text-decoration: none;
        border-radius: 25px;
    
    }
    .mensaje-items{
        display:flex;
        position: relative;
        padding-bottom: 20px;
        padding-right: 10px;
        background-color: var(--yellow-light);
        height: 160px;
        left:25px;
        width:250px;
    }
    h2{
        display:flex;
        position: relative;
        color:var(--yellow-light);
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left:30px;
        font-size:0.1rem;
        
    
    }
    
    .items-boton{
        background-color: var(--yellow-light);
        color: var(--blue-font);
        height:30px;
        width: 50%;
        margin-left:75px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .footer-container-menus{
        height:60px;
        background: linear-gradient(var(--blue-dark), #4F4AE4);
    }
    .footer-container-menus ol {
        display: flex;
        position: relative;
        align-content: center;
        justify-content: center;
        gap:30px;
        color:var(--yellow-light);
    }
    .footer-container-menus ol img{
        display: flex;
        position: relative;
        padding-bottom: 10px;
        height: 40px;
        width: 30px;
        top:20px;
        left:2px;
        right: 2px;
        bottom: 20px;
    } 
    }
    
    
    
    